<launch>
      <!-- 设置launch文件的参数 -->
      <arg name="robot_namespace" default="robot1"/>
      <arg name="model" default="$(find xrobot_description)/urdf/xrobot_8kt.xacro" />
      <arg name="x" default="0"/>
      <arg name="y" default="0"/>
      <arg name="z" default="0"/>
      <arg name="roll" default="0.0"/>
      <arg name="pitch" default="0.0"/>
      <arg name="yaw" default="0"/>

      <!-- 运行gazebo仿真环境 -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

      <!-- 加载机器人模型描述参数 -->
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)' robot_namespace:=$(arg robot_namespace)" />

      <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

      <!-- 运行robot_state_publisher节点，发布tf  -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
            <param name="publish_frequency" type="double" value="50.0" />
      </node>

      <!-- 在gazebo中加载机器人模型-->
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model xrobot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 

</launch>