<launch>
    <arg name="model" default="$(env XROBOT_MODEL)"/>
    <!-- 加载地图 || Load map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find xrobot_navigation)/maps/nav1.yaml"/>
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find xrobot_arm)/rviz/arm_01.rviz" />
    
    
    <include file="$(find xrobot_driver)/launch/xrobot_remote.launch">
        <arg name="model" value="$(arg model)" />
    </include>



    <!-- AMCL自适应蒙特卡洛定位 -->
    <include file="$(find xrobot_arm)/launch/amcl.launch"/>
    <!-- 导航核心组件move_base -->
    <include file="$(find xrobot_navigation)/launch/move_base.launch"/>
    
    <node pkg="xrobot_arm" type="transport_main.py" name="color_transport" required="true" output="screen"/>

    <node pkg="xrobot_arm" type="DrawMaker.py" name="draw_marker" required="true" output="screen"/>


</launch>

