#!/usr/bin/env python
PACKAGE = "xrobot_chassis"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

chassis_enum = gen.enum([gen.const("ACKERMANN",    int_t, 1, "Ackermann Chassis"),
                         gen.const("MECANUM",      int_t, 2, "Mecanum wheels Chassis")],
                        "Select Chassis Type")
gen.add("chassis_type", int_t, 0, "Select Chassis Type", 2, 0, 3, edit_method=chassis_enum)

gen.add("x_speed_scale",        double_t,       0, "Speed coefficient when the joystick", 1.0, 0.01, 5.0)
gen.add("y_speed_scale",        double_t,       0, "Speed coefficient when the joystick", 1.0, 0.01, 5.0)
gen.add("w_speed_scale",        double_t,       0, "Speed coefficient when the joystick", 1.0, 0.01, 5.0)
gen.add("save_params",          bool_t,         0, "Publish Potential Costmap", False)

exit(gen.generate(PACKAGE, "xrobot_driver", "ChassisParams"))
