<launch>
    <arg name="map_frame" default="/map"/>
    <arg name="filename" default="$(find xrobot_navigation)/maps/nav" />
    <node name="save_map" pkg="map_server" type="map_saver" args="-f $(arg filename)" output="screen">
        <remap from="map" to="$(arg map_frame)" /> 		
    </node>
</launch>